NEXT_PUBLIC_INK_RPC=https://rpc-gel.inkonchain.com
NEXT_PUBLIC_EPOCH_ARENA_ADDRESS=
NEXT_PUBLIC_ARENA_SIDECAR_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=57073
NEXT_PUBLIC_BLOCKSCOUT_API=https://explorer.inkonchain.com/api/v2
DATABASE_URL=
ADMIN_SECRET=
ARENA_ORACLE_PRIVATE_KEY=
